
.header{padding: 20px; }
li {list-style-type: none; min-height: 250px; border: 2px solid #fff; box-shadow: 0 0 3px 1px #bbb; margin-bottom: 15px; padding: 25px 5px; margin-left:0px;}
div.container li.item {background-color: white;}
.book-list .book-cover img{ margin: 28px 0px 10px 0px; max-width: 150px;}
#loading img{width: 150px; height: 150px; background-color: transparent; position: absolute; top:0; bottom: 0; left: 0; right: 0; margin: auto; z-index: 1000}
