<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="header">
    <h1 style="text-align:center">
      Welcome to {{title}}!
    </h1>
    <br />
    <!-- Formularz wyszukiwania -->
    <span class="text-left">W naszej wyszukiwarce możesz wyszukajć książki wpisując np. autora, tytuł lub nazwę przedmiotu</span>
    <form (submit)="search()">
      <div class="input-group">
        <input type="text" class="form-control" name="szukaj" placeholder="Czego szukasz..." aria-label="Czego szukasz... " [(ngModel)]="szukaj">
        <span class="input-group-btn">
          <button class="btn btn-primary" [disabled]="!szukaj">Submint</button>
        </span>
      </div>
    </form>
  </div>


  <div *ngIf="books?.length == 0" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>UPS!!!!</strong>Nie znaleźliśmy nic co spełania twoje wymagania
  </div>


  <!-- <ng-template #elseBlock>W naszej wyszukiwarce możesz wyszukajć książki wpisując np. autora, tytuł lub nazwę przedmiotu </ng-template> -->
  <div id="loading" class="" *ngIf="loading">
    <img alt="Loading..." src="https://www.echallan.org/publicview/images/demo_wait.gif">
  </div>




  <!-- wyświetlnenie w pętli książek wyszukanych w bazie-->

  <div class="text-right" *ngIf="books">
    <span>Wyszukanych elementów: {{books?.length}}</span>
  </div>
  <div class="book-list row  no-gutters justify-content-between" *ngIf="books">
    <div class=" row item col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" *ngFor="let book of books | paginate: {itemsPerPage:6, currentPage: p}">

      <!-- cover -->
      <div class="book-cover col-md-12 col-xl-4 text-center">
        <div class="=row">
          <div class="col-12">
            <a href="{{book.url}}" target="_blank">
              <img src="{{book.cover}}" alt="{{book.title}}" class="img-thumbnail">
            </a>
          </div>
          <div class="col-12">
            <a class="btn btn-primary" href="{{book.url}}" role="button" target="_blank">Kup</a>
          </div>
        </div>
      </div>

      <!-- book-contenet -->
      <div class="book-content col-md-12 col-xl-8">
        <!-- tytuł książki -->
        <header>
          <span>{{book.type}}</span>
          <h4>{{book.title}}</h4>
        </header>
        <hr>
        <!-- dane dotyczące książki (autor, liczba stron itd) -->
        <div class="row">
          <dl class="row text-center col-sm-6 col-md-12 col-xl-12">
            <dt class="col-4 text-right">autor:</dt>
            <dd class="col-8 text-left">{{book.author}}</dd>
            <dt class="col-4 text-right">liczba stron:</dt>
            <dd class="col-8 text-left">{{book.pages_count}}</dd>
            <dt class="col-4 text-right">ISBN:</dt>
            <dd class="col-8 text-left">{{book.isbn}}</dd>
            <dt class="col-4 text-right">MEN:</dt>
            <dd class="col-8 text-left">{{book.men}}</dd>
          </dl>
          <dl class="row text-center col-sm-6 col-md-12 col-xl-12">
            <dt class="col-4 text-right">poziom:</dt>
            <dd class="col-8 text-left">
              <span *ngFor="let l of book.levels ">{{l.school}} </span>
            </dd>
            <dt class="col-4 text-right">przedmiot:</dt>
            <dd class="col-8 text-left">{{book.subject}}</dd>
            <dt class="col-4 text-right">rodzaj pub.:</dt>
            <dd class="col-8 text-left">{{book.type}}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls class="text-center" *ngIf="books?.length > 6" (pageChange)="p =$event"></pagination-controls>
</div>